name: Build

on:
  push:

concurrency:
  group: ${{ github.ref }}
  cancel-in-progress: true

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Setup NodeJS
        uses: actions/setup-node@v4
        with:
          node-version: '18'
      - name: Cache NPM
        uses: actions/cache@v4.3.0
        with:
          path: ~/.npm
          key: ${{ hashFiles('package-lock.json') }}
      - name: Install dependencies
        run: npm ci
      - name: Cache build result
        uses: actions/cache@v4.3.0
        with:
          path: public/
          key: ${{ github.ref }}-${{ github.sha }}
      - name: Build
        run: npm run build
        env:
          PUBLIC_URL: ${{ secrets.PUBLIC_URL }}
